<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-default" ng-click="navigateTo('albums')">
                    <span class="fa fa-arrow-left"></span> Back
                </a>
            </div>
            <div class="col-md-7">
                <div class="btn-group btn-group-default">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newTrackModal"
                            ng-click="clearNewTrack()">
                        <span class="fa fa-plus"></span> New track
                    </button>
                    <button class="btn btn-default" ng-click="refreshTracks()">
                        <span class="fa fa-refresh" ng-class="{'fa-spin': getTracksRefreshing}"></span> Refresh
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <h2 class="center-block">Edit album</h2>

                <form class="" role="form" ng-class="{'has-error': editAlbumError}">
                    <div class="form-group">
                        <label for="editAlbumInputName" class="control-label">Name</label>

                        <input type="text" class="form-control" id="editAlbumInputName" placeholder="Name"
                               ng-model="editAlbum.name">
                    </div>
                    <div class="form-group">
                        <label for="editAlbumInputArtist" class="control-label">Artist</label>

                        <input type="text" class="form-control" id="editAlbumInputArtist" placeholder="Artist"
                               ng-model="editAlbum.artist">
                    </div>
                </form>

                <div class="btn-group btn-group-default btn-group-justified">
                    <a href type="button" class="btn btn-primary" ng-click="saveEditAlbum()">Save album</a>
                    <a href type="button" class="btn btn-danger" ng-click="deleteEditAlbum()">Delete album</a>
                </div>

            </div>
            <div class="col-md-7">
                <h2>Manage tracks</h2>
                <div class="list-group">
                    <a href class="list-group-item" ng-repeat="track in tracks"
                            ng-click="navigateToTrack(track)">
                        {{track.name}}
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="modal " id="newTrackModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Add new track</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-class="{'has-error': newTrackError}">
                    <div class="form-group">
                        <label for="newTrackInputName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newTrackInputName" placeholder="Name"
                                   ng-model="newTrack.name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveNewTrack()">Save track</button>
            </div>
        </div>
    </div>
</div>
