<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-5">
                <div class="btn-group btn-group-default">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newAlbumModal"
                            ng-click="clearNewAlbum()">
                        <span class="fa fa-plus"></span> New album
                    </button>
                    <button class="btn btn-default" ng-click="refreshAlbums()">
                        <span class="fa fa-refresh" ng-class="{'fa-spin': getAlbumsRefreshing}"></span> Refresh
                    </button>
                </div>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th class="col-sm-6">Name</th>
            <th class="col-sm-6">Artist</th>
        </tr>
        </thead>
        <tbody>
        <tr tabindex="0" ng-repeat="album in albums"
                ng-click="navigateToAlbum(album)">
            <td>{{album.name}}</td>
            <td>{{album.artist}}</td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <ul class="pager" style="margin: 0">
            <li ng-class="{disabled: !getAlbumsPrevUrl}">
                <a href ng-click="changeGetAlbumsUrl(getAlbumsPrevUrl)">
                    <span class="fa fa-chevron-left"></span>
                </a>
            </li>
            <li ng-class="{disabled: !getAlbumsNextUrl}">
                <a href ng-click="changeGetAlbumsUrl(getAlbumsNextUrl)">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="modal " id="newAlbumModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Add new album</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-class="{'has-error': newAlbumError}">
                    <div class="form-group">
                        <label for="newAlbumInputName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newAlbumInputName" placeholder="Name"
                                   ng-model="newAlbum.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newAlbumInputArtist" class="col-sm-2 control-label">Artist</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="newAlbumInputArtist" placeholder="Artist"
                                   ng-model="newAlbum.artist">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveNewAlbum()">Save album</button>
            </div>
        </div>
    </div>
</div>
