<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" ng-click="navigateTo('album')">
                    <span class="fa fa-arrow-left"></span> Back
                </a>
            </div>
            <div class="col-md-10"></div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <h2 class="center-block">Edit track</h2>
                <form class="" role="form" ng-class="{'has-error': editTrackError}">
                    <div class="form-group">
                        <label for="editTrackInputName" class="control-label">Name</label>

                            <input type="text" class="form-control" id="editTrackInputName" placeholder="Name"
                                   ng-model="editTrack.name">
                    </div>
                </form>

                <div class="btn-group btn-group-default btn-group-justified">
                    <a href type="button" class="btn btn-primary" ng-click="saveEditTrack()">Save track</a>
                    <a href type="button" class="btn btn-danger" ng-click="deleteEditTrack()">Delete track</a>
                </div>

            </div>
        </div>
    </div>

</div>
